// @charset "utf-8";

// ==========================================================================
// Main stylesheet editor WYSIWYG
// Author : Axel Roche http://aquelito.fr
// ==========================================================================

// Helpers
@import
  'helpers/var',
  'helpers/function',
  'helpers/mixins';

// ==========================================================================
// Drupal Default style
// ==========================================================================

/*

# Drupal

*/

/*
## Admin & User Toolbar

```
<ul class="tabs primary">
  <li class="active"><a class="active" href="#">Voir</a></li>
  <li><a href="#">Modifier</a></li>
  <li><a href="#">Suivi</a></li>
</ul>
```

*/

.tabs.primary {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  li {
    display: inline;
  }
  a {
    padding: 8px;
    display: inline-block;
  }
  .active {
    color: #fff;
    background-color: #d96459;
    border-bottom: 0;
    text-decoration: none;
    font-weight: bold;
  }
}

/* */

.tabs.primary,
.contextual-links-wrapper {
  position: absolute;
  top: 0; right: 0;
}

.contextual-links-wrapper {
  text-align: right;
  > a {
    color: #fff;
    background-color: #d96459;
    padding: 8px;
    display: inline-block;
    border-bottom: 0;
    text-decoration: none;
    font-weight: bold;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
  }
  .contextual-links {
    display: none;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 80%;
    a,
    a:hover,
    a:focus,
    a:active {
      color: #000 !important;
    }
  }
}

