
// ==========================================================================
// Colorz
// ==========================================================================

/*

# Couleurs

*/

/*
## Couleurs de fond

Background colorz.

```
<div class="row">
  <div class="default-background pal col-sm-4 col-md-4">
    <p>.default-background<br />#{map-get($colorz, 'default')}</p>
  </div><div class="primary-background pal col-sm-4 col-md-4">
    <p>.primary-background<br />#{map-get($colorz, 'primary')}</p>
  </div><div class="secondary-background pal col-sm-4 col-md-4">
    <p>.secondary-background<br />#{map-get($colorz, 'secondary')}</p>
  </div><div class="white-background black-color pal col-sm-4 col-md-4">
    <p>.white-background<br />#fff</p>
  </div><div class="black-background white-color pal col-sm-4 col-md-4">
    <p>.black-background<br />#222</p>
  </div>
</div>
```

*/

@each $name, $color in $colorz {
  .#{$name}-color { color: $color; }
  .#{$name}-border { border-color: $color; }
  .#{$name}-background { color: #fff; background-color: $color; }
}

/*
## Couleurs de texte

Couleurs et nuances utilisées à travers les styles.

```
<p class="default-color mvn">.default-color : #{map-get($colorz, 'default')}</p>
<p class="primary-color mvn">.primary-color : #{map-get($colorz, 'primary')}</p>
<p class="secondary-color mvn">.secondary-color : #{map-get($colorz, 'secondary')}</p>
<p class="white-color mvn">.white-color : #fff</p>
<p class="black-color mvn">.black-color : #222</p>
```

*/

/*
## Couleurs de bordure

Border colorz.

```
<div class="default-border mtn mbl" style="border-width:1px;border-style:solid">
  <p class="default-color pam">.default-border : #{map-get($colorz, 'default')}</p>
</div>
<div class="primary-border mvl" style="border-width:1px;border-style:solid">
  <p class="primary-color pam">.primary-border : #{map-get($colorz, 'primary')}</p>
</div>
<div class="secondary-border mtl mbn" style="border-width:1px;border-style:solid">
  <p class="secondary-color pam">.secondary-border : #{map-get($colorz, 'secondary')}</p>
</div>
<div class="black-border mtl mbn" style="border-width:1px;border-style:solid">
  <p class="black-color pam">.black-border : #222</p>
</div>
```

*/

.black-color      { color: #222; }
.black-border     { border-color: #222; }
.black-background { background-color: #222; }

.white-color      { color: #fff; }
.white-background { background-color: #fff; }
