
// ==========================================================================
// Forms style
// ==========================================================================

@if $active-form-support {

$form-label-width: 200px;
$form-label-marge: $grid-gutter-width;
$form-field-false-width: $form-label-width;

$form-background-color: #fff;
$form-border-color:     #c0c0c0;

/*

# Formulaire

Mise en forme par défaut des formulaires de saisie.

*/

form,
fieldset,
legend,
button,
input,
select,
textarea {
  margin: 0;
}

legend,
fieldset {
  border: 0;
  padding: 0;
}

// 1. Rétablit l'héritage de la propriété 'color'.
//    @bugfix   affected IE 8/9.
// 2. Permet au texte de revenir à la ligne du texte.
//    @bugfix   affected  FF 3.6
//    @see      http://stackoverflow.com/questions/6133571/how-can-i-make-legend-text-wrap
//    @note     IE 6 et IE 7 nécessitent une solution de contournement alternative.
// 3. Remove padding so people aren't caught out if they zero out fieldsets.
legend {
  white-space: normal; // 2
}

// 1. Correct font family not being inherited in all browsers.
// 2. Correct font size not being inherited in all browsers.
button,
input,
select,
textarea {
  font-family: inherit; // 1
  font-size: 100%; // 2
  vertical-align: baseline;
}

input,
select,
textarea {
  outline: 0;
  border: 1px solid #c0c0c0;
  background: white;
}

// 1. Masque la barre de défilement présente par défaut. IE 7/8/9.
// 2. Uniformise l'alignement vertical.
textarea {
  font-family: inherit;
  overflow: auto; // 1
  vertical-align: top; // 2
  resize: vertical;
  // width: 92%;
  &.resize-auto {
    resize: auto;
  }
}

button, label {
  cursor: pointer;
}

// 1. Address Firefox 4+ setting `line-height` on `input` using `!important` in
//    the UA stylesheet.
// 2. Re-set default cursor for disabled elements.
button, input {
  line-height: normal;
}

button[disabled],
input[disabled],
textarea[disabled],
select[disabled],
input[type="radio"][disabled] + label,
input[type="checkbox"][disabled] + label {
  cursor: not-allowed; // 2
  background-color: #eee;
  opacity: 1;
}

input[type="radio"][disabled] + label,
input[type="checkbox"][disabled] + label {
  background-color: transparent;
}

.form-item .field-false,
input[type="text"],
input[type="tel"],
input[type="color"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="submit"] {
  padding: 0 5px;
  // text-indent: 5px;
  display: inline-block;
  line-height: 1; height: 32px;
}

input[type="text"],
input[type="tel"],
input[type="color"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea, select {
  width: 100%;
  transition: background-color .3s ease;
  &:focus {
    background-color: darken($form-background-color, 3%);
    border-color: darken($form-border-color, 20%);
    // box-shadow: inset 0 1px 1px darken($form-background-color, 3%),
    //                   0 0 6px darken($form-border-color, 20%);
  }
}

textarea,
input[type="file"] {
  // @extend .pas;
  padding: 5px;
}

input[type="submit"] {
  padding: 0 10px;
  position: relative;
  top: 1px;
}

input[type="file"] {
  display: inline-block;
  line-height: 0;
  font-size: 80%;
  // width:100%;
}

// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
//    and `video` controls.
// 2. Correct inability to style clickable `input` types in iOS.
// 3. Improve usability and consistency of cursor style between image-type
//    `input` and others.
button,
html input[type="button"], // 1
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; // 2
  cursor: pointer; // 3
}

input[type="radio"],
input[type="checkbox"] {
  @extend .amiddle;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-radius: none;
  width: auto;
  padding: 6px 30px 5px 5px;
  text-indent: 0.01px;
  text-overflow: ""; // ellipsis;
  border-radius: 0;
  background: $form-background-color url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAFCAQAAADvCgS4AAAAGklEQVR4AWNg+I8BcQGCyhAAXRlhpcQAQsoAMGIY6KADYAUAAAAASUVORK5CYII=') no-repeat 100% center;
}

// 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
// 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
//    (include `-moz` to future-proof).
// 3. Removes inner padding and search cancel button in Safari 5 and Chrome on OS X.
input[type="search"] {
  -webkit-appearance: textfield; // 1
  box-sizing: content-box; // 2
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none; // 3
  }
}

// Supprime les marges internes incompressibles.
// @bugfix   Firefox4+
// @see      http://www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
## Général

```
<fieldset>
  <legend>Contact Form</legend>
  <p class="form-item">
    <label for="name">Name</label>
    <input class="field-txt" id="name" name="name" type="text" />
  </p>
  <p class="form-item">
    <label for="email">Email</label>
    <input class="field-txt field--error" id="email" name="email" type="email" />
    <br /><span class="text--error"> Error&nbsp;1&nbsp;: Enter valid email address, eg toto@domaine.com.</span>
  </p>
  <p class="form-item">
    <label for="password">Password</label>
    <input class="field-txt" id="password" name="password" type="password" value="Password" />
  </p>
  <p class="form-item">
    <label for="url">Url</label>
    <input class="field-txt" id="url" name="url" type="url" />
  </p>
  <p class="form-item">
    <label for="message">Textarea</label>
    <textarea class="field-txt" cols="30" id="message" name="message" rows="5"></textarea>
  </p>
  <p class="form-item">
    <label for="message">Disabled textarea</label>
    <textarea class="field-txt" cols="30" id="message" name="message" rows="5" disabled="disabled"></textarea>
  </p>
  <p class="form-item">
    <label for="file">File</label>
    <input class="field-txt" id="file" name="file" type="file" />
  </p>
  <p class="form-item">
    <label for="select">Select</label>
    <select class="field-txt" id="select" name="select">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </p>
  <p class="form-item">
    <label for="select">Disabled select</label>
    <select class="field-txt" id="select" name="select" disabled="disabled">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </p>
  <fieldset class="form-item">
    <legend class="label">Birthday</legend>
    <div class="form-item"><input id="jj" maxlength="2" name="birth[jj]" placeholder="DD" size="4" title="DD" type="text" class="w20" /><input id="mm" maxlength="2" name="birth[mm]" placeholder="MM" size="4" title="MM" type="text" class="w20" /><input id="aaaa" maxlength="4" name="birth[aaaa]" placeholder="YYYY" size="4" title="YYYY" type="text" class="w20" /></div></fieldset>
  <div class="form-item field-false">
    <div class="form-item">
      <input id="radio_off" name="optionsRadios" type="radio" />
      <label for="radio_off">Radio is off</label>
      <br />
      <input id="radio_on" name="optionsRadios" type="radio" checked="checked" />
      <label for="radio_on">Radio is on</label>
      <br />
      <input id="radio_off_disabled" name="optionsRadiosDisabled" type="radio" disabled="disabled" />
      <label for="radio_off_disabled">Disabled radio is off</label>
      <br />
      <input id="radio_on_disabled" name="optionsRadiosDisabled" type="radio" checked="checked" disabled="disabled" />
      <label for="radio_on_disabled">Disabled radio is on</label>
    </div>
  </div>
  <div class="form-item field-false">
    <div class="form-item">
      <input id="checkbox_off" name="optionsCheckboxes" type="checkbox" />
      <label for="checkbox_off">Checkbox is off</label>
      <br />
      <input id="checkbox_on" name="optionsCheckboxes" type="checkbox" checked="checked" />
      <label for="checkbox_on">Checkbox is on</label>
      <br />
      <input id="checkbox_off_disabled" name="optionsCheckboxesDisabled" type="checkbox" disabled="disabled" />
      <label for="checkbox_off_disabled">Disabled checkbox is off</label>
      <br />
      <input id="checkbox_on_disabled" name="optionsCheckboxesDisabled" type="checkbox" checked="checked" disabled="disabled" />
      <label for="checkbox_on_disabled">Disabled checkbox is on</label>
    </div>
  </div>
  <p class="form-item field-false">
    <button class="btn btn--primary" type="submit" name="submit">Send your message</button>
    <button class="btn btn--cancel" type="submit" name="cancel">Cancel</button>
  </p>
</fieldset>
```

*/

// Required
// <abbr class="field-required" title="This field is required.">*</abbr>
// ==========================================================================

.field-required {
  @extend .smaller;
  color: #555;
}

// Forms
// ==========================================================================

/*
## Champs static

```
<p class="form-item">
  <span class="label">Email</span>
  <span class="field-false bold">email@example.com</span>
</p>
<p class="form-item">
  <label for="password">Password</label>
  <input class="field-txt" id="password" name="password" type="text" placeholder="Password" />
</p>
```

*/

.form-item {
  @extend .clearfix;
  border: 0;
  position: relative;
  margin: 0 0 ($base-line-height / 2);
  padding: 0 0 0 $form-label-width + $form-label-marge;
  label,
  .label {
    @extend .inbl;
    @extend .amiddle;
    font-weight: bold;
    text-align: right;
    width: $form-label-width;
    margin-right: $form-label-marge;
    padding: 0;
    line-height: 32px;
    position: absolute;
    left: 0;
    top: 0;
    > span {
      line-height: 1;
      display: inline-block;
    }
  }
  .form-item {
    margin: 0;
    padding: 0;
    label,
    .label {
      font-weight: normal;
      text-align: left;
      width: auto;
      margin-right: 0;
      padding: 0;
      position: relative;
      // line-height: normal;
    }
  }
  .field-false {
    @extend .pan;
  }
}

// .form-radios,
// .form-checkboxes,
// .container-inline-date {
//   .form-item {
//     display: inline-block;
//     margin-right: 10px;
//   }
// }

.form-item-date-day,
.form-item-date-month,
.form-item-date-year {
  display: inline-block;
}


@include mq('smaller') {

  .form-item {
    margin-left: 0;
    padding-left: 0;
    label,
    .label {
      display: block;
      width: auto;
      margin-right: 0;
      position: relative;
      text-align: left;
    }
    .form-item {
      label,
      .label {
        display: inline-block;
      }
    }
  }

}

/*
## Champs fake

```
<p class="form-item field-false">
  <span class="field-false bold">email@example.com</span>
</p>
<p class="form-item">
  <label for="password">Password</label>
  <input class="field-txt" id="password" name="password" type="text" placeholder="Password" />
</p>
```

*/

.field-false,
.form-block {
  label,
  .label {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
  }
}

/*
## Champs block

```
<p class="form-item form-block">
  <span class="label">Email</span>
  <span class="field-false bold">email@example.com</span>
</p>
<p class="form-item form-block">
  <label for="password">Password</label>
  <input class="field-txt" id="password" name="password" type="text" placeholder="Password" />
</p>
```

*/

.form-block {
  padding: 0;
  > label,
  > .label {
    display: block;
    margin-right: 0;
    text-align: left;
  }
}

/*
## Input error

```
<p class="form-item">
  <label for="email">Email <abbr class="field-required" title="This field is required.">*</abbr></label>
  <input aria-labelledby="error_email" class="field-txt field--info" id="email" name="email" type="email" required="required" aria-required="true" />
  <br /><small id="error_email" class="text--info"> Error&nbsp;1&nbsp;: Enter valid email address, eg toto@domaine.com.</small>
</p>
<p class="form-item">
  <label for="email">Email <abbr class="field-required" title="This field is required.">*</abbr></label>
  <input aria-labelledby="error_email" class="field-txt field--warning" id="email" name="email" type="email" required="required" aria-required="true" />
  <br /><small id="error_email" class="text--warning"> Error&nbsp;1&nbsp;: Enter valid email address, eg toto@domaine.com.</small>
</p>
<p class="form-item">
  <label for="email">Email <abbr class="field-required" title="This field is required.">*</abbr></label>
  <input aria-labelledby="error_email" class="field-txt field--error" id="email" name="email" type="email" required="required" aria-required="true" />
  <br /><small id="error_email" class="text--error"> Error&nbsp;1&nbsp;: Enter valid email address, eg toto@domaine.com.</small>
</p>
<p class="form-item">
  <label for="email">Email <abbr class="field-required" title="This field is required.">*</abbr></label>
  <input aria-labelledby="error_email" class="field-txt field--status" id="email" name="email" type="email" required="required" aria-required="true" />
  <br /><small id="error_email" class="text--status"> Error&nbsp;1&nbsp;: Enter valid email address, eg toto@domaine.com.</small>
</p>
```

*/

@each $name, $values in $message {
  $color: map-get($values, 'background');
  .field--#{$name} {
    @if map-get($values, 'color') {
      border-color: map-get($values, 'color');
    }
    @else {
      border-color: $color;
    }
  }
}

.form-item .error {
  @extend .field--error !optional;
  & + .description {
    @extend .text--error !optional;
  }
}

/*
## Placeholder

Couleurs de placeholder : ne pas fusionner les sélecteurs !

```
@see http://stackoverflow.com/a/2610741
```

*/

$field-placeholder: #abadb3;
::-webkit-input-placeholder { // WebKit browsers
  color: $field-placeholder; }
:-moz-placeholder { // Mozilla Firefox 4 to 18
  color: $field-placeholder; }
::-moz-placeholder { // Mozilla Firefox 19+
  color: $field-placeholder; }
:-ms-input-placeholder { // Internet Explorer 10+
  color: $field-placeholder; }


/* */
} // enf if
