
// ==========================================================================
// Debug Modes
// ==========================================================================

@if $support-debug {

/*

# Debug mode

*/

/*

## Missing or bad properties

*/

/*
### Links

```
<p class="pal"><a name="name_href" href="#">Name href</a></p>
<p class="pal"><a href="">Empty href</a></p>
<p class="pal"><a>No href</a></p>
<p class="pal"><a href="javascript:alert('oups');">href javascript</a></p>
```

*/

a[name],
a[href=""],
a[href^="javascript"],
a:not([href]) {
  outline: 3px dashed red!important;
}

/*
### Images

* Balise `alt` manquante
* Balise `alt` vide (image de décoration)
* Balise `width` manquante ou vide
* Balise `height` manquante ou vide

Renseigner les attributs `width` et `height` vont aider à avoir de meilleurs performances. Éviter l'utilisation de l'attribut `title` avec balise `img`. Si présent, vérifier qu'ils soient identiques.

```
<p class="pal">
  <img width="100" height="100" src="http://placehold.it/100x100" class="mrl" />
  <img alt="width: manquante" height="100" src="http://placehold.it/100x100" class="mrl" />
  <img alt="height: manquante" width="100" src="http://placehold.it/100x100" class="mrl" />
  <img title="Ne pas mettre de title sur une balise img" alt="" width="100" height="100" src="http://placehold.it/100x100" />
</p>
<p class="pal">
  <img alt="" width="100" height="100" src="http://placehold.it/100x100" class="mrl" />
  <img alt="width: vide" width="" height="100" src="http://placehold.it/100x100" class="mrl" />
  <img alt="height: vide" width="100" height="" src="http://placehold.it/100x100" />
</p>
```

*/

img:not([alt]) {
  outline: 3px dashed red!important;
}

[width=""],
img:not([width]) {
  outline: 3px dashed #ff6c00!important;
}

[height=""],
img:not([height]) {
  outline: 3px dashed #ff9000!important;
}

img[title] {
  outline: 3px dashed blue!important;
}

/*

### Formulaire

*/

/*
#### Erreurs


```
<form class="pal">
  <p>
    <label>label without for</label>
    <input value="Input without type" />
  </p>
  <p>
    <button>Button inside form without type</button>
  </p>
</form>
```

*/

label:not([for]),
input:not([type]),
input:not([id]),
form:not([action]),
form:not([method]),
form[method=""],
textarea:not([cols]),
textarea:not([rows]),
form button:not([type]) {
  outline: 3px dashed red!important;
}

/*
#### fieldset + legend

```
<formp class="pal">
  <fieldset>
    <p>Legend missing</p>
    <p>
      <label for="id">label</label>
      <input type="text" id="id" name="id" value="" />
    </p>
  </fieldset>
</form>
```

*/

fieldset + legend {
  outline: 3px dashed #ff6c00!important;
}

/*
## Empty attributes

* `iframe` doit avoir un attribut `title` renseigné et non vide
* `area` doit avoir un attribut `title` renseigné et non vide

```
<p><label for="">label empty for</label></p>
<p id="">Paragraph with empty id</p>
<p class="">Paragraph with empty class</p>
<p><a href="#" title="">Attribut `title` vide</a></p>
<p><input name="" value="Input empty name" /></p>
<p><input id="" name="name" value="Input empty id" /></p>
```

*/

[id=""],
[class=""],
[title=""],
[name=""],
[for=""] {
  background: red!important;
}

area:not([alt]),
area[alt=""],
iframe:not([title]),
iframe[title=""] {
  outline: 3px dashed #ff9000!important;
}

/*

## HTML invalide

*/

/*
### Imbrication invalide

* a a
* a label
* a input
* a select
* a textarea
* p div
* li div
* li p
* button > input
* button > select
* button > textarea
* button > label
* button > button
* button > form
* button > fieldset
* button > iframe
* label > label
* form > form
* dl > *
* form > form
* form > input
* form > textarea
* form > button
* tbody > *
* ol > *
* ul > *
```

*/

a a,
a label,
a input,
a select,
a textarea,
p div,
li div,
li p,
button > input,
button > select,
button > textarea,
button > label,
button > button,
button > form,
button > fieldset,
button > iframe,
label > label,
form > form,
dl > *,
form > form,
form > input,
form > textarea,
form > button,
tbody > *,
ol > *,
ul > * {
  outline: 3px dashed red!important;
}

input[size],
tbody > tr,
ol > li,
ul > li,
dl > dd,
dl > dt {
  outline: 0!important;
}
/*
### Ordre Invalide

* tbody + tfoot
* tbody + tfoot td

```
<table>
  <caption>Jimi Hendrix - albums</caption>
  <thead>
    <tr>
      <th>Album</th>
      <th>Year</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Are You Experienced</td>
      <td>1967</td>
      <td>$10.00</td>
    </tr>
    <tr>
      <td>Axis: Bold as Love</td>
      <td>1967</td>
      <td>$12.00</td>
    </tr>
    <tr>
      <td>Electric Ladyland</td>
      <td>1968</td>
      <td>$10.00</td>
    </tr>
    <tr>
      <td>Band of Gypsys</td>
      <td>1970</td>
      <td>$12.00</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Album</th>
      <th>Year</th>
      <th>Price</th>
    </tr>
  </tfoot>
</table>
```

*/

tbody + tfoot,
tbody + tfoot td {
  background-color: red!important;
}

/*
## Deprecated elements

* applet
* acronym
* basefont
* center
* dir
* font
* strike
* big
* tt
* marquee
* hgroup
* plaintext
* xmp
* frame
* frameset
* noframe

```
<div>
  <p><font size="1">Font size</font></p>
  <marquee>Marquee</marquee>
  <center>Center</center>
</div>
```

*/

applet, acronym, basefont, center, dir, font, strike, big, tt, marquee, hgroup, plaintext, xmp, frame, frameset, noframe {
  outline: 3px dashed yellow!important;
}

/*
## Deprecated attributes

Interdire l'utilisation des attributs suivants

* [target]
* [align]
* [background]
* [bgcolor]
* [border]
* [leftmargin]
* [marginwidth]
* [topmargin]
* [marginheight]
* [offset]
* [onblur]
* [onchange]
* [onclick]
* [onclick]
* [ondblclick]
* [onfocus]
* [onkeydown]
* [onkeypress]
* [onkeyup]
* [onload]
* [onmousedown]
* [onmousemove]
* [onmouseout]
* [onmouseover]
* [onmouseover]
* [onmouseup]
* [onreset]
* [onselect]
* [onsubmit]
* [onunload]
* [size]
* [valign]

```
<div>
  <p bgcolor="red">BGCOLOR</p>
  <p onclick="alert('Deprecated !');">onclick</p>
</div>
```

*/

[target], [align], [background], [bgcolor], [border], [leftmargin], [marginwidth], [topmargin], [marginheight], [offset], [onblur], [onchange], [onclick], [onclick],
[ondblclick], [onfocus], [onkeydown], [onkeypress], [onkeyup],
[onload], [onmousedown], [onmousemove], [onmouseout], [onmouseover],
[onmouseover], [onmouseup], [onreset], [onselect], [onsubmit], [onunload], [size], [valign] {
  outline: 3px dashed yellow!important;
}

/*
## Élements vides

Il ne doit pas y avoir d'éléments vides.
Si c'est la cas, préférer `span` ou `div` suivant les cas.

* Empty `p`
* Empty `li`
* Empty `article`
* Empty `section`
* Empty `div`
* Empty `span` (normal pour les icônes)
* Empty `form`
* Empty `label`
* Empty `button`
* Empty `th`
* Empty `td`

```
<div>
  <p></p>
  <li></li>
  <label></label>
  <article></article>
  <section></section>
  <div></div>
  <span></span>
  <form></form>
  <button></button>
</div>
```

*/

p:empty,
li:empty,
label:empty,
article:empty,
section:empty,
button:empty,
td:empty,
th:empty,
form:empty,
span:empty,
div:empty {
  display: block!important;
  position: static!important;
  padding: 10px!important;
  background-color: yellow!important;
}

span.i:empty {
  display: block!important;
  position: relative;
  padding: 0!important;
  background-color: transparent!important;
}

/* */
} // end if

// Thanks to :
// * http://github.com/Darklg/CSSCommon
// * http://www.smashingmagazine.com/2013/08/20/semantic-css-with-intelligent-selectors/
// * http://meyerweb.com/eric/tools/css/diagnostics/
// * http://red-root.com/sandbox/holmes/
// * http://www.nealgrosskopf.com/tech/thread.php?pid=17
