
// ==========================================================================
// Mixins
// ==========================================================================

/*

# Mixins

*/

@import
  'compass',
  'function';

// @mixin accessibility
// @use   @include accessibility
// ==========================================================================

@mixin accessibility {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

// @mixin inline-block
// @use   @include inline-block
// @import "compass/css3/inline-block";
// ==========================================================================

@mixin inline-block($alignment: top) {
  display: inline-block;
  @if $alignment and $alignment != none {
    vertical-align: $alignment;
  }
  @if $support-for-ie7 {
    .ie7 & { display: inline; zoom: 1; }
  }
}

// @mixin link-colors
// @import "compass/utilities/links/link-colors";
// ==========================================================================

@mixin link-colors($normal, $hover: false, $active: false, $visited: false) {
  color: $normal;
  @if $hover {
    &:hover,&:focus {
      text-decoration: none;
      color: $hover;
    }
  }
  @if $active {
    &:active {
      color: $active;
    }
  }
  @if $visited {
    &:visited {
      color: $visited;
    }
  }
}

// @mixin establish-baseline
// ==========================================================================

@mixin establish-baseline($font-size: $base-font-size, $font-family: $font-serifs) {
  $taille: ($font-size / $browser-default-font-size * 100);
  $line-height: rhythm(1, $font-size);
  html {
    font: #{$taille}%/#{$line-height} $font-family;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}

// @mixin font-size
// ==========================================================================

@mixin font-size($taille:$base-font-size) {
  @include adjust-font-size-to($taille);
}

@mixin float($side: left) {
  float: unquote($side);
}

@mixin float-left    { @include float(left); }
@mixin float-right   { @include float(right); }
@mixin reset-float() { float: none; }

/*
## Media Queries

Variable `$keyword` possible egal to :

* `large` : screen and min-width: 1200px
* `medium` : screen and min-width: 769px
* `small` : screen and max-width: 768px
* `tiny` : screen and max-width: 640px
* `retina` : *

```
@include mq($keyword);
```

*/

@mixin mq($keyword) {
  @if $keyword == large {
    @media screen and (min-width: 1200px) { @content; }
  }
  @if $keyword == medium {
    @media screen and (min-width: 769px) { @content; }
  }
  @if $keyword == small {
    @media screen and (max-width: 768px) { @content; }
  }
  @if $keyword == tiny  {
    @media screen and (max-width: 640px) { @content; }
  }
  @if $keyword == retina {
    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
        @content;
    }
  }
}
