
// ==========================================================================
// Mixins
// ==========================================================================

/*

# Mixins

*/

// @mixin establish-baseline
@mixin establish-baseline($font-size: $base-font-size, $font-family: $font-serifs) {
  $taille: ($font-size / $browser-default-font-size * 100);
  $line-height: rhythm(1, $font-size);
  html {
    font: #{$taille}%/#{$line-height} $font-family;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}

// Calculate rhythm units
@function rhythm(
  $lines: 1,
  $font-size: $base-font-size
) {
  @if not $relative-font-sizing and $font-size != $base-font-size {
    @warn "$relative-font-sizing is false but a relative font size was passed to the rhythm function";
  }
  $rhythm: $font-unit * $lines * $base-line-height / $font-size;
  @return $rhythm;
}

@function lines-for-font-size($font-size) {
  $lines: ceil($font-size / $base-line-height);
  @if $lines * $base-line-height - $font-size < 1 {
    $lines: $lines + 1;
  }
  @return $lines;
}

@mixin font-size($taille:$base-font-size) {
  font-size: $font-unit * $taille / $base-font-size;
  line-height: rhythm(lines-for-font-size($taille), if($relative-font-sizing, $taille, $base-font-size));
}

// @mixin inline-block
// ==========================================================================

@mixin inline-block($alignment: top) {
  display: inline-block;
  @if $alignment and $alignment != none {
    vertical-align: $alignment;
  }
}

/*
## Media Queries

Variable `$keyword` possible egal to :

* `large` : screen and min-width: 1200px
* `medium` : screen and min-width: 769px
* `small` : screen and max-width: 768px

```
@include mq($keyword) {
  ...
}
```

*/

@mixin mq($keyword) {
  @if $keyword == tiny {
    @media (max-width: $screen-xs-min) { @content; }
  }
  @if $keyword == smaller {
    @media (max-width: $screen-xs-max) { @content; }
  }
  @if $keyword == small {
    @media (min-width: $screen-sm-min) { @content; }
  }
  @if $keyword == medium {
    @media (min-width: $screen-md-min) { @content; }
  }
  @if $keyword == large {
    @media (min-width: $screen-lg-min) { @content; }
  }
}
