
// ==========================================================================
// Forms
// ==========================================================================

/*

# Checbox Form

```
<label class="toggle">
  <input type="checkbox" />
  <span class="handle"></span>
</label>
Checkbox is off
<br />
<label class="toggle">
  <input type="checkbox" checked="checked" />
  <span class="handle"></span>
</label>
Checbox is on
<br />
<label class="toggle">
  <input type="checkbox" checked="checked" disabled="disabled" />
  <span class="handle"></span>
</label>
Disabled checkbox is on
<br />
<label class="toggle">
  <input type="checkbox" disabled="disabled" />
  <span class="handle"></span>
</label>
Disabled checkbox is off
```

*/

label {
  &.toggle {
    height: 32px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }
}

.toggle {
  .handle {
    position: relative;
    top: -20px;
    left: 0;
    display: block;
    width: 50px;
    height: 32px;
    background-color: #f00;
    border-radius: 19px;
    box-shadow: inset 0 0 0 1px #b8bfc8;
    &:after,
    &:before {
      position: absolute;
      top: 1px;
      left: 1px;
      display: block;
      width: 30px;
      height: 30px;
      content: "";
      background-color: #fff;
      border-radius: 30px;
      box-shadow: inset 0 0 0 1px #b8bfc8, 1px 1px 1px #c7ccd3;
      transition: all .25s ease-in-out;
    }
  }
  input[type=checkbox] {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    text-indent: -100000px;
    filter: alpha(opacity=0);
    opacity: 0;
    &:disabled + .handle {
      &, &:before, &:after {
        background-color: #e6e9ed;
        filter: alpha(opacity=60);
        opacity: .6;
      }
    }
    &:checked + .handle {
      &:before {
        width: 50px;
        background-color: #a0d468;
      }
      &:after {
        left: 20px;
        box-shadow: inset 0 0 0 1px #f5f7fa, 1px 1px 1px #c7ccd3;
      }
    }
  }
}
