
// ==========================================================================
// Navigation
// ==========================================================================

/*

# Navigation

*/

/*
## Default container

```
<div class="navigation">
  <nav id="navigation" role="navigation" class="container clearfix">
    ...
  </nav>
</div>
```

*/

/*

## Horizontal menu

```
<ul class="menu list-inline">
  <li class="menu__item"><a class="menu__link" href="#"><span class="menu__title">About</span></a></li>
  <li class="menu__item"><a class="menu__link" href="#"><span class="menu__title">Works</span></a></li>
  <li class="menu__item"><a class="menu__link" href="#"><span class="menu__title">Services</span></a></li>
  <li class="menu__item"><a class="menu__link" href="#"><span class="menu__title">Portfolio</span></a></li>
  <li class="menu__item"><a class="menu__link" href="#"><span class="menu__title">Contact</span></a></li>
</ul>
```

*/

.navigation {
  background: #fff;
  ul {
    @extend .list-inline;
  }
  a {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    &:hover,
    &:focus,
    &:active {
      background-color: $body-color;
      color: #fff;
    }
  }
}

/*

## Vertical menu

```
<ul class="menu menu--vertical list-none">
  <li class="menu__item"><a class="menu__link" href="#"><span class="menu__title">About</span></a></li>
  <li class="menu__item"><a class="menu__link" href="#"><span class="menu__title">Works</span></a></li>
  <li class="menu__item"><a class="menu__link" href="#"><span class="menu__title">Services</span></a></li>
  <li class="menu__item"><a class="menu__link" href="#"><span class="menu__title">Portfolio</span></a></li>
  <li class="menu__item"><a class="menu__link" href="#"><span class="menu__title">Contact</span></a></li>
</ul>
```

*/
