
// ==========================================================================
// Breadcrumb
// ==========================================================================

/*

# Breadcrumb and Skiplinks

*/

/*
## Breadcrumb

* Mandatory

```
<div class="breadcrumb clearfix" id="breadcrumb">
  <p>
    <span>You are here&nbsp;:</span>
    <a itemprop="url" href="/"><span itemprop="title">Home</span></a> ›
    <a itemprop="url" href="/"><span itemprop="title">Catégorie One</span></a> ›
    <strong class="regular">Current page title</strong>
  </p>
</div>
```

*/

.breadcrumb {

}

/*
## Skiplinks

* Mandatory
* Display on focus

```
<p class="skiplinks" id="skiplinks">
  <a href="#navigation">Menu</a>
  <a href="#main">Contenu principal</a>
</p>
```

*/

.skiplinks {
  @extend .mvn;
  a {
    position: absolute;
    left: -9999px;
    z-index: 2;
    &:focus,
    &:active {
      display: inline;
      top: 0; left: 0;
      padding: 5px 10px;
      background: #b00;
      color: #fff;
    }
  }
}
