
// ==========================================================================
// Messages
// ==========================================================================

/*
# Messages

Message d'avertissement délivré par le site (CMS)
Lorsque vous avez besoin de dévlivrer un message de notification, utiliser des alertes.

*/

/*
## Default Message

```
<div role="alert" class="message message--info mvn clearfix">
  <h2 class="message__title hide">Message</h2>
  <div class="message__content">
    <p class="message__description">Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
    <ul class="message__list">
      <li class="message__item">Le champ Nom d'utilisateur est requis.</li>
      <li class="message__item">Le champ Mot de passe est requis.</li>
    </ul>
  </div>
</div>
```

*/

/*
## Message error

Add `.message--error`

```
<div role="alert" class="message message--error mvn clearfix">
  <h2 class="message__title hide">Message d'erreur</h2>
  <div class="message__content">
    <p class="message__description">Nous avons trouver des erreurs, <a href="#">lien texte</a><br />
    Nous vous recommadons de vérifier les données.</p>
  </div>
</div>
```

*/

/*
## Message warning

Add `.message--warning`

```
<div role="alert" class="message message--warning mvn clearfix">
  <h2 class="message__title hide">Message d'alerte</h2>
  <div class="message__content">
    <p class="message__description">Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
    <ul class="message__list">
      <li class="message__item">Le champ Nom d'utilisateur est requis.</li>
      <li class="message__item">Le champ Mot de passe est requis.</li>
    </ul>
  </div>
</div>
```

*/

/*
## Message status

Add `.message--status`

```
<div role="alert" class="message message--status mvn clearfix">
  <h2 class="message__title hide">Message succès</h2>
  <div class="message__content">
    <p class="message__description">Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
    <ul class="message__list">
      <li class="message__item">Le champ Nom d'utilisateur est requis.</li>
      <li class="message__item">Le champ Mot de passe est requis.</li>
    </ul>
  </div>
</div>

*/

/* */
.message {
  border: {
    top: 4px solid;
    bottom: 4px solid;
  }
  min-height: $base-line-height * 4;
  margin: $base-line-height 0;
  padding: $base-line-height 20px;
  &:first-child {
    @extend .mtn;
  }
  p {
    margin-top: rhythm(0.5);
    margin-bottom: rhythm(0.5);
    &:first-child { margin-top: 0; }
    &:last-child  { margin-bottom: 0; }
  }
  a {
    @extend .bold;
  }
  & a {
    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }
  }
  &__title,
  &__list {
    @extend .mvn;
  }
  &__content {
    position: relative;
    padding-left: 50px;
    margin-left: 20px;
    &:before {
      @extend .i;
      font-size: 42px;
      position: absolute;
      left: -10px;
    }
  }
  @each $name, $values in $message {
    $icon: map-get($values, 'icon'); // map-deep-get($values, $name, 'icon');
    $background: map-get($values, 'background'); // map-deep-get($values, $name, 'background');
    &--#{$name} {
      background-color: $background;
      border-color: darken($background, 45%);
      &, &__title, a {
        @if $name == 'info' {
          color: #333;
        }
        @else {
          color: #fff;
        }
      }
      .message__content {
        &:before {
          @extend #{$icon};
        }
      }
    }
  }
}

/*
## Texte Alerte
*/

/*
### Classic

```
<p class="muted mvn">Lorem ipsum dolor sit amet.</p>
<p class="text text--info mvn">Lorem ipsum dolor sit amet.</p>
<p class="text text--error mvn">Lorem ipsum dolor sit amet.</p>
<p class="text text--warning mvn">Lorem ipsum dolor sit amet.</p>
<p class="text text--status mtn mbl">Lorem ipsum dolor sit amet.</p>
```
*/

/*
### With icons

```
<p class="muted mtl mbn"><span class="i i-info"></span> Lorem ipsum dolor sit amet.</p>
<p class="text text--info mvn"><span class="i i-info"></span> Lorem ipsum dolor sit amet.</p>
<p class="text text--error mvn"><span class="i i-error"></span> Lorem ipsum dolor sit amet.</p>
<p class="text text--warning mvn"><span class="i i-danger"></span> Lorem ipsum dolor sit amet.</p>
<p class="text text--status mvn"><span class="i i-check"></span> Lorem ipsum dolor sit amet.</p>
```

*/

/* */
.muted { color: #999; }

.text {
  @each $name, $values in $message {
    $color: map-get($values, 'background');
    &--#{$name} {
      @if map-get($values, 'color') {
        color: map-get($values, 'color');
      }
      @else {
        color: $color;
      }
    }
  }
}
