
// ==========================================================================
// Modal
// ==========================================================================

/*
# Modal

```
<button class="btn btn--primary" data-toggle="modal" data-target="#myModal">
  Modal demo
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <div class="modal__header">
        <button type="button" class="modal__close close" data-dismiss="modal" aria-hidden="true" title="Close modal">&times;</button>
        <h1 class="modal__title mvn" id="myModalLabel">Modal title</h1>
      </div>
      <div class="modal__body">
        ...
      </div>
      <div class="modal__footer clearfix">
        <button type="button" class="btn btn--default floatl" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn--primary floatr">Save changes</button>
      </div>
    </div>
  </div>
</div>
```

*/

.modal {
  &__open {
    overflow: hidden;
  }
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  &__open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  &__dialog {
    position: relative;
    width: auto;
    margin: 10px;
    .modal.fade & {
      transition: transform .3s ease-out;
      transform: translate(0, -25%);
    }
    .modal.in & {
      transform: translate(0, 0);
    }
  }
  &__title {
    margin: 0;
    line-height: 1.42857143;
  }
  &__body {
    position: relative;
    padding: 15px;
  }
  &__content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  }
  &__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000;
    &.fade {
      opacity: 0;
    }
    &.in {
      opacity: .5;
    }
  }
  &__header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    .close {
      margin-top: -2px;
    }
  }

  &__footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    .btn + .btn {
      margin-bottom: 0;
      margin-left: 5px;
    }
    .btn-group .btn + .btn {
      margin-left: -1px;
    }
    .btn-block + .btn-block {
      margin-left: 0;
    }
  }

  &__scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
}

@include mq('small') {
  .modal__dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal__content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal--sm {
    width: 300px;
  }
}

@include mq('large') {
  .modal--lg {
    width: 900px;
  }
}
