
// ==========================================================================
// Modal
// ==========================================================================

/*
# Modal

```
<button class="btn btn--primary" data-toggle="modal" data-target="#myModal">
  Modal demo
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <div class="modal__header">
        <button type="button" class="modal__close close" data-dismiss="modal" aria-hidden="true" title="Close modal">&times;</button>
        <h1 class="modal__title mvn" id="myModalLabel">Modal title</h1>
      </div>
      <div class="modal__body">
        ...
      </div>
      <div class="modal__footer clearfix">
        <button type="button" class="btn btn--default floatl" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn--primary floatr">Save changes</button>
      </div>
    </div>
  </div>
</div>
```

*/

// Modal position
.modal {
  &, &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // When fading in the modal, animate it to slide down
  &.fade .modal__dialog {
    transform: 0.3s ease-out translate(0, -25%);
  }
  &.in .modal__dialog {
    transform: translate(0, 0);
  }
  // Kill the scroll on the body
  &__open {
    @extend .overhidden;
  }
  // Modal background
  &__backdrop {
    @extend .black-background;
    z-index: 1030;
    // Fade for backdrop
    &.fade {
      opacity: 0;
      @if $support-for-ie8 {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      }
    }
    &.in {
      opacity: .6;
      @if $support-for-ie8 {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
      }
    }
  }
  &__dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
  &__content {
    @extend .white-background;
    position: relative;
    border-radius: 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-clip: padding-box;
    outline: 0;
  }
  // Measure scrollbar width for padding body during modal show/hide
  &__scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  &__header,
  &__content {
    border-bottom: 1px solid #ddd;
  }
  &__footer,
  &__content {
    border-top: 1px solid #ddd;
  }
  &__title {
    line-height: 1;
  }
  &__body,
  &__header,
  &__footer {
    position: relative;
    padding: 10px;
  }
}
