
// ==========================================================================
// Rating
// ==========================================================================

/*
# Rating

```
<div class="rating clearfix mvl">
  <p class="rating__content floatl w30 mvn">
    <span title="rating__pick inbl">Your value&nbsp;:</span>
    <input type="radio" name="stars" id="r1" value="1" title="Rating 1 of 5" /> <label for="r1">☆</label>
    <input type="radio" name="stars" id="r2" value="2" title="Rating 2 of 5" /> <label for="r2">☆</label>
    <input type="radio" name="stars" id="r3" value="3" title="Rating 3 of 5" /> <label for="r3">☆</label>
    <input type="radio" name="stars" id="r4" value="4" title="Rating 4 of 5" /> <label for="r4">☆</label>
    <input type="radio" name="stars" id="r5" value="5" title="Rating 1 of 5" /> <label for="r5">☆</label>
  </p>
</div>
```

*/

.rating {
  p {
    @extend .overhidden;
  }
  input {
    @extend .floatr;
    position: absolute;
    left: -9999px;
  }
  label {
    @extend .floatr;
    @extend .medium;
    @include transition(color .4s);
    text-decoration: none;
    color: #aaa;
  }
  label:hover ~ label,
  input:focus ~ label,
  label:hover {
    cursor: pointer;
    color: orange;
  }
}
