
// ==========================================================================
// Rating
// ==========================================================================

/*
# Rating

```
<div class="rating clearfix mvl">
  <p class="rating__content form-item">
    <span class="rating__pick label">Your value&nbsp;:</span>
    <span class="field-false">
      <input type="radio" name="stars" id="r1" value="1" title="Rating 1 of 5" /> <label for="r1">★</label>
      <input type="radio" name="stars" id="r2" value="2" title="Rating 2 of 5" /> <label for="r2">★</label>
      <input type="radio" name="stars" id="r3" value="3" title="Rating 3 of 5" /> <label for="r3">★</label>
      <input type="radio" name="stars" id="r4" value="4" title="Rating 4 of 5" /> <label for="r4">★</label>
      <input type="radio" name="stars" id="r5" value="5" title="Rating 1 of 5" /> <label for="r5">★</label>
    </span>
  </p>
</div>
```

*/

.rating {
  input {
    position: absolute;
    left: -9999px;
  }
  label {
    @extend .floatr;
    @extend .medium;
    @extend .mrn;
    transition: color .4s;
  }
  label:hover ~ label,
  input:focus ~ label,
  label:hover {
    cursor: pointer;
    color: orange;
  }
}


/*
# Rating

```
<div class="poll-results">
  <div class="poll-bars">
    <div class="poll-bars__text"><sapn class="bold">France</sapn> - <small class="poll-bars__percent">50% (1 vote)</small></div>
    <div class="poll-bars__bar">
      <div style="width: 50%;" class="foreground"></div>
    </div>
  </div>
  <div class="poll-bars">
    <div class="poll-bars__text"><sapn class="bold">Espagne</sapn> - <small class="poll-bars__percent">0% (0 vote)</small></div>
    <div class="poll-bars__bar">
      <div style="width: 0%;" class="foreground"></div>
    </div>
  </div>
  <div class="poll-bars">
    <div class="poll-bars__text"><sapn class="bold">Italie</sapn> - <small class="poll-bars__percent">50% (1 vote)</small></div>
    <div class="poll-bars__bar">
      <div style="width: 50%;" class="foreground"></div>
    </div>
  </div>
  <div class="poll-results__total mvl">
    <p class="bold">Total votes&nbsp;: 2</p>
  </div>
</div>
```

*/

.poll {
  &-bars {
    margin-top: 10px;
    &__bar {
      background: #fff;
      border: 1px solid #f0f0f0;
    }
    .foreground {
      background: #71a7cc;
      height: 1em;
    }
  }
  &-results {
    border: 1px solid #f0f0f0;
    background: #fff;
    padding: 20px;
  }
}
