
// ==========================================================================
// Tabs
// ==========================================================================

/*
# Tab

ARIA

```
<div class="tab">
  <div class="tabPane">
    <ul class="tabPane__list list-inline clearfix">
      <li class="tabPane__item"><a role="tab" data-toggle="tab" class="tabPane__link" href="#panel-01">First Tab</a></li>
      <li class="tabPane__item active"><a role="tab" data-toggle="tab" class="tabPane__link" href="#panel-02">Second Tab</a></li>
      <li class="tabPane__item"><a role="tab" data-toggle="tab" class="tabPane__link" href="#panel-03">Thrid Tab</a></li>
    </ul>
  </div>
  <div class="tabPane tabPane__panels">
    <div class="tabPane__content fade" id="panel-01" role="tabpanel" tabindex="0">
      ...
    </div>
    <div class="tabPane__content fade active in" id="panel-02" role="tabpanel" tabindex="1">
      ...
    </div>
    <div class="tabPane__content fade" id="panel-03" role="tabpanel" tabindex="0">
      ...
    </div>
  </div>
</div>
```

*/

.tab { }

.tabPane {
  &__tabs { }
  &__list {
    border-bottom: 3px solid #ddd;
  }
  &__item {
    float: left;
    margin-bottom: -1px;
    position: relative;
    &.active {
      a,
      a:hover,
      a:focus {
        font-weight: bold;
        color: #555;
        background-color: #ddd;
      }
    }
    a {
      position: relative;
      display: block;
      padding: 10px 15px;
      border: 0;
      border-radius: 4px 4px 0 0;
    }
  }
  &__panels {
    border: 1px solid #ddd;
    padding: 20px;
  }
  &__content {
    display: none;
    &.active {
      display: block;
    }
  }
}
